

<header>
    <div id="text">
        <h1>Codial</h1>
    </div>
    <div id="user">
        <% if(locals.user){ %>
            <div id="text">
                <h4><%= user.first + ' ' + user.last %></h4>
            </div>
            <div id="info">
                <form action="/destroy" method="post">
                    <input type="submit" value="Log out">
                </form>
            </div>
        <% } else { %>
            <div id="info1">
                <p><a href="/login">Log in </a></p>
            </div>
            <div id="info2">
                <p><a href="/">Sign up </a></p>
            </div>

        <% } %>
    </div>
</header>