

<header>
    
    <div id="text">
        <a href="/"><img width="40" src="/images/fb.jpg">
            <span>unbook</span>
        </a>    
    </div>

    <div id="user">
        <% if(locals.user){ %>
            <div id="text">
                <h4><a href="/home/profile/<%= user.id %>"><%= user.first + ' ' + user.last %></a></h4>
            </div>
            <div id="info">
                <form action="/destroy" method="post">
                    <input type="submit" value="Log out">
                </form>
            </div>
        <% } else { %>
            <div id="info1">
                <p><a href="/">Log in </a></p>
            </div>
            <div id="info2">
                <p><a href="/signup">Sign up </a></p>
            </div>

        <% } %>
    </div>
</header>