

<header>
    
    <div id="logo">
        <a href="/"><img width="45" src="/icons/fb.png" alt="fb-logo">
        </a>    
    </div>
    <div id="search-box">
        <% if(locals.user){ %>
            <form action="/" method="get">
                <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                <input type="search" placeholder="Search Facebook">
                
            </form>
        <% } %>    

    </div>

    <div id="user">
        <% if(locals.user){ %>
            <div id="text">
                <a href="/home/profile/<%= user.id %>"><img src="<%=user.avatar%>" alt="<%=user.first%>"></a>
            </div>
            <div id="info">
                <form action="/destroy" method="post">
                    <input type="submit" value="Log out">
                </form>
            </div>
        <% } else { %>
            <div id="info1">
                <p><a href="/">Log in </a></p>
            </div>
            <div id="info2">
                <p><a href="/signup">Sign up </a></p>
            </div>

        <% } %>
    </div>
</header>