<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/forgot.css') %>">
<main>
    <div id="email-box">
        <h2>Change Password</h2>
        <hr>
        <div id="forgot-email">
            <form action="/identity/changePassword/<%=userEmail.email%>" method="post">
                <input type="password" name="newPassword" placeholder="New Password" required>
                <input type="password" name="confirmNewPassword" placeholder="Re-type Password" required>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</main>