
<div id="chat-box">

    <div id="chat-header">
        <div id="user-box">
            <div id="user-img">
                <img src="/images/fb.jpg">
            </div>
            <div id="user-name">
                <p>Sagar kapoor</p>
            </div>
        </div>
        <div id="cross-box">
            <div id="minimize">
                <i class="fa-sharp fa-solid fa-minus"></i>
            </div>
            <div id="close">
                <i class="fa-sharp fa-solid fa-xmark"></i>
            </div>
        </div>
    </div>
    <ul id="chat-container">
        <li class="other-msg">
        </li>
        <li class="self-msg">
        </li>
    </ul>
    <div id="inp-container">
        <input placeholder="Type here..." id="inp">
        <div id="send"><i id="btn" class="fa-solid fa-paper-plane"></i></div>
    </div>
</div>

<script src="/js/chat_box.js"></script>
<script src="/js/chat_engine.js"></script>
