<link rel="stylesheet" type="text/css" href="/css/home.css">
<main>
    <section id="my-links">

    </section>
    <section id="my-feeds">
        
        <div id="form-box">
            <% if(locals.user){ %>
                <form action="/post/create" method="post">
                    <textarea type="text" name="content" placeholder="Whats's on your mind, <%= user.first %>" required cols="45" rows="8"></textarea>
                    <input id="post-btn" type="submit" value="Post">
                </form>
            <% } %>
            
        </div>
        <div id="post-box">
            <% for(post of posts) { %>
                <%- include('_post') -%>
            <% } %>    
        </div>
    </section>
    <section id="friends-list">
        <div>
            <h3>Friends</h3>
        </div>
        <% for(list of users) { %>
            <% if(locals.user.id != list.id) { %>
                <div id="friends">
                    
                    <p><%= list.first %></p>
                </div>
            <% } %>
            
        <% } %>
        
        

    </section>
</main>
