<link rel="stylesheet" type="text/css" href="/css/forgot.css">

<main>
    <div id="email-box">
        <h2>Find Your Account</h2>
        <hr>
        <div id="forgot-email">
            <span>Please enter your email address to search for your account.</span>
            <form action="/identity/reset_password" method="post">
                <input type="email" name="findEmail" placeholder="Email address" required>
                <button type="submit">Search</button>
            </form>
        </div>
        

    </div>
</main>