<link rel="stylesheet" type="text/css" href="<%= assetsPath('css/signin.css') %>">

<main> 
    <div id="page">
        <div id="signIn-box">
            <div id="social-login" >
                <a href="/auth/google">
                    <button type="button" >
                        <img src="/icons/google.png" alt="google" width="25">
                        <span>Login with Google</span>
                        
                    </button>
                </a>
                
            </div>
            
            <div id="user-login">
                <div id="or">OR</div>
                <form action="/session" method="post">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Log in</button>
                </form>
                <br>
                <br>
                <hr>
                <span>
                    <a href="/identity">
                        Forgotten password ?
                    </a>
                </span>
            </div>
        </div> 

    </div>
      <!-- waves part -->
    <div id="temp">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>

</main>   