<link rel="stylesheet" type="text/css" href="/css/profile.css">

<main>
    <div id="text-box">
        <h1>My Feeds</h1>
    </div>
    <div id="form-box">
        <% if(locals.user){ %>
            <form action="/post/create" method="post">
                <textarea type="text" name="content" placeholder="Type here..." required cols="40" rows="8"></textarea>
                <input id="post-btn" type="submit" value="Post">
            </form>
        <% } %>
        
    </div>
    <div id="post-box">
        <% for(post of posts) { %>
            <%- include('_post') -%>
        <% } %>    
    </div>
</main>
