<link rel="stylesheet" type="text/css" href="/css/profile.css">


<div id="user_profile">
    <div id="profile">
        <div id="my-img">
            
        </div>

    </div>
    <div id="name">
        <h2><%= user.first + ' ' + user.last %></h2>
    </div>
    <div id="about">
        <div>
            <img width="25" src="/icons/home (1).png">
            <span>Punjab, india</span>
        </div>
        <div>
            <img width="25" src="/icons/smartphone.png">
            <span>8566848794</span>
        </div>
        
    </div>

</div>