<link rel="stylesheet" type="text/css" href="/css/profile.css">

<main>
    <div >
        <h1>My Posts</h1>
    </div>
    <div>
        <form action="" method="post">
            <textarea type="text" placeholder="Type here..." required cols="40" rows="8"></textarea>
            <input type="submit" value="Post">
        </form>
    </div>
    <div id="post-box">
        <ul>
            <li>
                <div id="posts">
                    <h3><%= %></h3>
                    <p><%=  %></p>
                </div>
            </li>
        </ul>
    </div>
</main>
