<link rel="stylesheet" type="text/css" href="/css/signup.css">

<main>
    <div id="box">
        <div id="user-signup">
            <form action="/create" method="post">
                <% if(flash.error && flash.error.length > 0) { %>
                    <div style="width: 100%; background-color: beige ; color:red; font-family:Verdana, Geneva, Tahoma, sans-serif;">
                    <p ><%= flash.error %></p>
                     </div>   
                <% } %> 
                <input type="text" name="first" placeholder="First name" required>
                <input type="text" name="last" placeholder="Last name" required>
                <input type="text" name="age" placeholder="Age" required>
                <input type="email" name="email" placeholder="abc@Example.com" required>
                <input type="password" name="password" placeholder="Create password" required>
                <input type="password" name="confirm" placeholder="Confirm password" required>
                <input type="hidden" name="avatar" value="https://www.oseyo.co.uk/wp-content/uploads/2020/05/empty-profile-picture-png-2-281x300.png">
                <button type="submit">Sign up</button>
            </form>

        </div>
        
    </div>
</main>    

