body{
    margin: 0;
    header{
        width:100%;
        height: 60px;
        background-color:white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0,0.1);
        position: fixed;
        z-index: 3;
        margin-top: -5px;
        #logo-and-search{
            width:20%;
            height: 50px;
            display: flex;
            align-items: center;
            margin-top: 5px;
            #logo {
                text-align:center;
                margin: 12px;
                
                a{
                    text-decoration: none; 
                    img{
                        border-radius: 50%;
                    }
                }
            }
            #search-box{
                width:100%;
                form{
                    padding: 5px;
                    line-height: 2;
                    display: flex;
                    button{
                        width: 30px;
                        margin-right: -4px;
                        padding: 10px;
                        border:none;
                        cursor: pointer;
                        border-radius: 15px 0 0 15px;
                        background-color: #F0F2F5;
                        
                    }
                    input{
                        width: 85%;
                        padding: 10px;
                        border:none;
                        border-radius: 0 15px 15px 0; 
                        background-color: #F0F2F5;
                    }
                    input:focus{
                        outline: none;
                    }
                    
                }
            }
            
        }
        #home{
            width:60%;
            height:50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px;
            #inner-home{
                width:80%;
                height: 50px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                a{
                    text-decoration: none;
                    color: black;
                    .home-icons{
                        width: 100px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px 5px 0 0;  
                        cursor: pointer; 
                    }
                    .home-icons:hover{
                        background-color: rgba(0, 0, 0,0.1);
                    }
                }
                 
            }
        }
        #user{
            width: 250px;
            height: 50px;
            display: flex;
            justify-content:flex-end;
            align-items: center;
            margin-top: 5px;

            .text{
                width: 38px;
                height: 38px;
                border-radius: 50%;
                position: relative;
                box-sizing: border-box;
                margin:5px;
                background-color: #F0F2F5;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    text-decoration: none;
                    cursor: pointer;
                    width: 99%;
                    height: 99%;
                    color: black;
                    border-radius: 50%;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width:100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    
                    }
                }
                #msg-box{
                    width: 300px;
                    height: 400px;
                    position: absolute;
                    top: 45px;
                    right: -170px;
                    display: none;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
                    border: 1px solid lightgray;
                    .chat-friends{
                        width:95%;
                        height: 45px;
                        margin: 8px;
                        //border-right: 10px solid green;
                        font-size: 1rem;
                        text-align: center;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 5px;
                        font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
                        #chat-friends-img-box{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            column-gap: 7px;
                            margin-left: 8px;
                            #chat-friends-img{
                                width: 30px;
                                height:30px;
                                border-radius: 50%;
                                position: relative;
                                img{
                                    width:100%;
                                    height: 100%;
                                    border-radius: 50%;
                                    border: 1px solid lightgray;
                                    object-fit: cover;
                                }
                            }
                            #chat-friends-name{
                                width: 260px;
                                height: 100%;
                                text-align: start;
                                p{
                                    color: black;
                                    text-decoration: none;
                                    font-family:  Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
                                    font-weight: 0;
                                    font-size: 15px;
                                    margin-top: 10px;
                                    margin-left: 2px;
                                }
                            }
                        }
                
                    }
                    .chat-friends:hover{
                        background-color: rgba(0,0,0,0.1);
                        border-radius: 5px;
                        cursor: pointer;
                    }
        
        
                }
                
            }
            #info{
                form{
                    input{
                        width: 80px;
                        height: 40px;
                        margin: 5px;
                        border-radius: 8px;
                        text-align: center;
                        border: none;
                        color: BLACK;
                        font-family: sans-serif;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }
            }
            #info1{
                width: 80px;
                height: 40px;
                margin: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    a{
                    text-decoration: none;
                    color: black;
                    font-family: sans-serif;
                    font-size: 1rem;
                    }
                }
            }#info2{
                width: 80px;
                height: 40px;
                margin: 10px;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    a{
                        text-decoration: none;
                        color: black;
                        font-family: sans-serif;
                        font-size: 1rem;
                    }
                }
            }

        }
        
    }
}

@media screen and (max-width:1000px) {
    body{
        header{
            #logo-and-search{
                width: 250px;
            }
            #home{
            display: none;
            }
        }    
    }
}

@media screen and (max-width: 363px) {
    header #logo-and-search #search-box{
      display: none;
    }
  }