::-webkit-scrollbar {
    width: 7px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ced0d4;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50px;
    visibility: visible;
  }
  
  #profile-box {
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-top: 4%;
    overflow: scroll;
  }
  
  #profile-box #profile-header {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
  }
  
  #profile-box #profile-header #profile-timeline {
    width: 65%;
    height: auto;
    border-radius: 0 0 10px 10px;
    display: flex;
    background-color: white;
    flex-direction: column;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img {
    width: 100%;
    height: 330px;
    border-radius: 0 0 10px 10px;
    background-color: #F0F2F5;
    position: relative;
    
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img img {
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    object-fit: cover;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline {
    width: auto;
    min-width: 50px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    right: 25px;
    bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dadada;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 1;
    
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline #icon {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:0 8px 0 8px;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline #icon i {
    color: black;
    font-size: 17px;
    font-weight: 800;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline #cover-image {
    width: auto;
    height: 18px;
    text-align: start;
    margin: 0 8px 0 8px;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline #cover-image span {
    color: black;
    font-size: 14px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img .edit {
    width: 300px;
    height: auto;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    display: none;
    bottom: -105px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 1;
    
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img .edit form {
    width: 90%;
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img .edit form #inp {
    width: 90%;
    padding: 7px;
    margin: 5px;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img .edit form #btn {
    width: 95%;
    padding: 8px;
    margin: 5px;
    background-color: #4267B2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #profile-box #profile-header #profile-timeline #timeline-img .edit form #btn:hover {
    background-color: #375695;
  }
  
  #profile-box #profile-header #profile-timeline #user-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img {
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -80px;
    position: relative;
  
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img #camera {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F0F2F5;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img .edit2 {
    width: 300px;
    height: auto;
    background-color: aliceblue;
    position: absolute;
    left: -30px;
    display: none;
    top: 190px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img .edit2 form {
    width: 90%;
    padding: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img .edit2 form #inp {
    width: 90%;
    padding: 7px;
    margin: 5px;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img .edit2 form #btn {
    width: 95%;
    padding: 7px;
    margin: 5px;
    background-color: #4267B2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-img .edit2 form #btn:hover {
    background-color: #375695;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name {
    width: 350px;
    height: 90%;
    margin: 30px;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-text {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-text h2 {
    margin-bottom: 3px;
    font-weight: 800;
    font-family: Tahoma, sans-serif;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-text span {
    color: gray;
    font-weight: 800;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-img {
    width: 100%;
    height: 50%;
    display: flex;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-img img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: -10px;
    margin-top: 5px;
    object-fit: cover;
    border: 2px solid lightgray;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit {
    width: 250px;
    height: 90%;
    display: flex;
    margin: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story {
    width: 113px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1b74e4;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story #icon {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story #icon i {
    color: #1b74e4;
    font-size: 10px;
    font-weight: 800;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story #story-text {
    width: auto;
    height: 18px;
    text-align: start;
    
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story #story-text span {
    color: white;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile {
    width: 113px;
    height: 36px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dadada;
    justify-content: space-evenly;
    cursor: pointer;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile #icon {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile #icon i {
    color: black;
    font-size: 16px;
    font-weight: 800;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile #story-text {
    width: auto;
    height: 18px;
    text-align: start;
  }
  
  #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile #story-text span {
    color: black;
    font-size: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  
  #profile-box #profile-header #profile-timeline #user-links {
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid lightgray;
    justify-content: space-evenly;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-name {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-name .single-link {
    width: auto;
    height: 100%;
    margin: 5px;
    text-align: center;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-name .single-link p {
    font-size: 17px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 600;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-name .single-link p a {
    color: gray;
    text-decoration: none;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-edit {
    width: 15%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #profile-box #profile-header #profile-timeline #user-links #link-edit #link-bar {
    width: 45px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F5;
    border-radius: 5px;
  }
  
  #profile-box #profile-main {
    width: 100%;
    height: auto;
    background: #F0F2F5;
    display: flex;
    justify-content: center;
  }
  
  #profile-box #profile-main #profile-info {
    width: 100%;
    height: 700px;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
  
  #profile-box #profile-main #profile-info #left-side {
    width: 370px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    margin-top: 30px;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  }
  
  #profile-box #profile-main #profile-info #left-side #intro {
    width: 95%;
    height: 40px;
    font-size: 12px;
    margin-bottom: 0;
  }
  
  #profile-box #profile-main #profile-info #left-side #about {
    width: 95%;
    height: auto;
    text-align: start;
  }
  
  #profile-box #profile-main #profile-info #left-side #about p {
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #514747;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  }
  
  #profile-box #profile-main #profile-info #left-side #address {
    width: 95%;
    height: 100px;
  }
  
  #profile-box #profile-main #profile-info #left-side #address p {
    display: inline-block;
  }
  
  #profile-box #profile-main #profile-info #right-side {
    width: 470px;
    height: 500px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
  }
  
  #profile-box #profile-main #profile-info #right-side #friends-text {
    width: 95%;
    height: 40px;
    font-size: 12px;
    margin-bottom: 15px;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
  }
  
  #profile-box #profile-main #profile-info #right-side #friends{
    width:95%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    
  }
  #profile-box #profile-main #profile-info #right-side #friends #friends-img{
    width: 105px;
    height: 125px;
    border-radius: 5px;
    margin: 5px;
  }
  
  #profile-box #profile-main #profile-info #right-side #friends-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid lightgray;
  }
  
  
  @media screen and (max-width: 1000px) {
    #profile-box{
      margin-top: 6%;
    }
    #profile-box #profile-header #profile-timeline{
      width: 100%;
      
    }
    
    
  }
  
  @media screen and (max-width: 800px) {
    #profile-box{
      margin-top: 7%;
    }
    
    #profile-box #profile-header #profile-timeline #user-box{
      flex-direction: column;
    }
    #profile-box #profile-header #profile-timeline #timeline-img #edit-timeline #cover-image{
      display: none;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-name{
      margin-top: 0px;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-text{
      text-align: center;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-name #user-name-img{
      justify-content: center;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-edit{
      width: 100%;
      margin-top: -10px;
      justify-content: center;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-edit #user-add-story{
      width: 45%;
      justify-content: center;
      column-gap: 10px;
    }
    #profile-box #profile-header #profile-timeline #user-box #user-edit #edit-profile{
      width: 45%;
      justify-content: center;
      column-gap: 10px;
    }
    #profile-box #profile-header #profile-timeline #user-links #link-name #hide-link{
      display: none;
    }
    #profile-box #profile-main #profile-info{
      flex-direction: column;
      align-items: center;
    }
    #profile-box #profile-main #profile-info #left-side{
      width: 90%;
    }
    #profile-box #profile-main #profile-info #right-side{
      width: 90%;
    }
  }
  
  @media screen and (max-width: 700px) {
    #profile-box{
      margin-top: 8%;
    }
    
    
  }
  
  @media screen and (max-width: 650px) {
    #profile-box{
      margin-top: 10%;
    
    }
    
  }
  