#user_profile{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    #profile{
        width:99%;
        height:400px;
        position: relative;
        margin-top: 60px;
        margin-bottom: 130px;
        #my-img2{
            width:100%;
            height: 400px;
            img{
                width:100%;
                height: 100%;
            }
        }
        #my-img{
            width:300px;
            height: 300px;
            border-radius: 50%;
            position: absolute;
            top:57%;
            left:39%;
            border: 2px solid white;
            box-sizing: border-box;
            box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
            img{
                width: 300px;
                height: 300px;
                border-radius: 50%;
            
            }
        }
        #my-img::after{
            content: ' ';
            bottom:20px;
            right:37px;
            position:absolute;
            width:15px;
            height: 15px;
            border-radius: 50%;
            background-color: green;
            border: 2px solid white;
            
        }
        sup{
            i{
                position: absolute;
                right:7px;
                top:10px;
                cursor: pointer;
                font-size: 1.1rem;
                color: dimgray;
            }
        }
        .edit{
            width:300px;
            height:auto;
            background-color: aliceblue;
            position: absolute;
            right: 0;
            display: none;
            top:40px;
            box-sizing: border-box;
            box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
            border-radius: 10px;

            form{
                width:90%;
                padding: 12px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                #inp{
                    width:90%;
                    padding: 7px;
                    margin: 5px;
                }
                #btn{
                    width:95%;
                    padding: 7px;
                    margin: 5px;
                    background-color:#4267B2 ;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    
                }
                #btn:hover{
                    background-color:#375695;
                }
            }

        }
        @media  screen and  (max-width:650px){
            #my-img{
                left:20%;
        }
            
        }
    }
    #name{
        width:100%;
        height:60px;
        text-align: center;
        position: relative;
        h2{
            font-family:Verdana, Geneva, Tahoma, sans-serif ;
            display: inline-block;
            sup{
                color: dimgray;
                cursor: pointer;
            }    
        }
        .edit2{
            width:300px;
            height:auto;
            background-color: aliceblue;
            position: absolute;
            left:40%;
            display: none;
            top:60px;
            box-sizing: border-box;
            box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.3);
            border-radius: 10px;

            form{
                width:90%;
                padding: 12px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                #inp{
                    width:90%;
                    padding: 7px;
                    margin: 5px;
                }
                #btn{
                    width:95%;
                    padding: 7px;
                    margin: 5px;
                    background-color:#4267B2 ;
                    border: none;
                    color: white;
                    cursor: pointer;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    
                }
                #btn:hover{
                    background-color:#375695;
                }
            }

        }
        @media screen and (max-width:650px) {
            .edit2{
                left:25%;
            }
        }

    }
    #about{
        width:45%;
        height:130px;
        border-radius: 5px;
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
        div{
            margin: 5px 5px 5px 0 ;
            span{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: gray;
                margin-left: 10px;
            }
            @media screen and (max-width:650px) {
                span{
                    display: block;
                    margin-left: 0px;
                }
                
            }

        }
        
    }
}
