main {
  width: 100%;
  height: 700px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  background-color: #F0F2F5;
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  color: white;
  background-repeat: no-repeat;
  background-size: contain;
}

main #page {
  width: 100%;
  height: 550px;
  background-color: transparent;
  display: flex;
  margin-top: 60px;
  margin-bottom: 15px;
  justify-content: flex-end;
}

main #page #box {
  width: 500px;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  box-sizing: border-box;
  margin: 5px;
  /*box-shadow: 1px 1px 15px 5px rgba(0, 0, 0,0.2);*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

main #page #box #user-signup {
  width: 300px;
  height: auto;
  margin: 5px 30px 30px 55px;
}

main #page #box #user-signup form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

main #page #box #user-signup form input {
  width: 95%;
  line-height: 2;
  margin: 3px;
  padding: 6px;
  font-size: 1.2rem;
  border-radius: 7px;
  border: 1px solid lightgray;
}

main #page #box #user-signup form button {
  width: 100%;
  height: 45px;
  background-color: #4267B2;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  font-size: 1rem;
}

main #temp .waves {
  position: relative;
  width: 100%;
  height: 150px;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  /*Shrinking for mobile*/
}

main #temp .waves .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

main #temp .waves .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

main #temp .waves .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

main #temp .waves .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

main #temp .waves .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  main #temp .waves .waves {
    height: 40px;
    min-height: 40px;
  }
  main #temp .waves .content {
    height: 30vh;
  }
  main #temp .waves h1 {
    font-size: 24px;
  }
}
