body{
    width: 100%;
    height:100vh;
    margin: 0;
}
header{
    width:100%;
    height: 100px;
    background-color:#6a82fb ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#text {
    text-align: center;
    margin-left: 10px;
}  

h1{
    font-family: sans-serif;
    color: white;
}

#user{
    width:200px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    
}

h5{
    font-family: sans-serif;
    color: white;
}
 
#info{
    width: 100px;
    height: 40px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    cursor: pointer;
}    
#info:hover{
    background-color: antiquewhite;
}
a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}
