header {
  width: 100%;
  height: 100px;
  background-color: #6a82fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #text {
  text-align: center;
}

header #text h1 {
  font-family: sans-serif;
  color: white;
}

header #user {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #user #text h5 {
  font-family: sans-serif;
  color: white;
}

header #user #info {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header #user #info a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
