::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 50px;
  visibility: visible;
}

main {
  width: 70%;
  display: inline-block;
  margin-top: 5px;
  border: 1px solid red;
  vertical-align: top;
  margin-left: 20%;
  margin-top: 50px;
}

main #my-feeds {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F0F2F5;
}

main #my-feeds #form-box {
  width: 70%;
  margin: 20px;
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
}

main #my-feeds #form-box #my-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  margin: 5px;
  border: 1px solid dimgray;
}

main #my-feeds #form-box #my-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main #my-feeds #form-box div {
  width: 90%;
}

main #my-feeds #form-box div form {
  display: flex;
  align-items: center;
}

main #my-feeds #form-box div form textarea {
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 10px;
}

main #my-feeds #form-box div form #post-btn {
  width: 80px;
  height: 35px;
  background-color: #4267B2;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin: 20px;
}

main #my-feeds #post-box {
  height: auto;
  width: 70%;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

main #my-feeds #post-box .posts {
  width: 100%;
  height: auto;
  border-left: 5px solid #95d2f4;
  background-color: white;
  text-align: left;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

main #my-feeds #post-box .posts #name-and-del-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

main #my-feeds #post-box .posts #name-and-del-box #profile-name {
  width: 100%;
  display: flex;
  flex-direction: row;
}

main #my-feeds #post-box .posts #name-and-del-box #profile-name #profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
}

main #my-feeds #post-box .posts #name-and-del-box #profile-name #profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main #my-feeds #post-box .posts #name-and-del-box #profile-name #name {
  width: 100%;
}

main #my-feeds #post-box .posts #name-and-del-box #profile-name #name h1 {
  margin: 10px 5px 5px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  font-weight: 500;
  font-size: 17px;
}

main #my-feeds #post-box .posts #name-and-del-box #cross {
  margin: 2px 10px 10px 10px;
}

main #my-feeds #post-box .posts #name-and-del-box #cross span a {
  text-decoration: none;
  color: dimgray;
}

main #my-feeds #post-box .posts #post-content {
  width: 95%;
  min-height: 100px;
  background-color: white;
  margin-left: 0.5rem;
  border-bottom: 1px solid lightgray;
}

main #my-feeds #post-box .posts #post-content p {
  margin-left: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  padding: 5px;
}

main #my-feeds #post-box .posts #comment-box {
  width: auto;
  max-width: 90%;
  max-height: 400px;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller {
  max-width: 100%;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  margin: 20px 0 20px 0;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment {
  width: 95%;
  margin: 20px 20px 20px 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #cmnt-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  margin: 5px 10px 5px 7px;
  border: 1px solid dimgray;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #cmnt-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment {
  min-width: 150px;
  max-width: 70%;
  min-height: 25px;
  display: inline-block;
  background-color: #F0F2F5;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 5px;
  word-wrap: break-word;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment #comment-and-del-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment #comment-and-del-box div h3 {
  margin: 0 0 0 -5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
  font-size: 17px;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment #comment-and-del-box div {
  margin: 2px 2px 2px 10px;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment #comment-and-del-box div span a {
  text-decoration: none;
  color: dimgray;
}

main #my-feeds #post-box .posts #comment-box .comment-scroller .comment #inner-comment p {
  margin: 2px 0 2px 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main #my-feeds #post-box .posts #comment-box form {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

main #my-feeds #post-box .posts #comment-box form textarea {
  margin-bottom: 5px;
  font-size: 1rem;
  border-radius: 25px;
  padding: 10px;
}

main #my-feeds #post-box .posts #comment-box form #comment-btn {
  width: auto;
  height: 35px;
  background-color: #4267B2;
  color: white;
  font-family: sans-serif;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin: 20px;
}

main #my-feeds #post-box .posts #like-box {
  width: auto;
  margin: 5px 5px 10px 2rem;
}

main #my-feeds #post-box .posts #like-box span a {
  color: black;
}

main #my-feeds #post-box .posts #like-box span a:hover {
  color: #4267B2;
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 255, 0.2);
  border-radius: 50%;
}

main #friends-list {
  width: 20%;
  height: 1000px;
  border-left: 1px solid lightgray;
}

main #friends-list #friends-logo {
  text-align: center;
  border-bottom: 2px solid lightgrey;
}

main #friends-list #friends-logo h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main #friends-list #friends {
  width: 95%;
  height: 40px;
  margin: 10px 0 5px 5px;
  border-right: 10px solid green;
  border-bottom: 2px solid lightgray;
  font-size: 1rem;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main #friends-list #friends #friends-img {
  width: 40px;
  height: 40px;
}

main #friends-list #friends #friends-img img {
  width: 100%;
  height: 100%;
}

main #friends-list #friends p a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  main #my-links {
    display: none;
  }
  main #my-feeds {
    width: 100%;
  }
  main #my-feeds #form-box {
    width: 100% !important;
    margin: 0;
  }
  main #my-feeds #post-box {
    width: 100% !important;
    margin: 0;
  }
  main #friends-list {
    display: none;
  }
}
