#user_profile {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user_profile #profile {
  width: 100%;
  height: 450px;
  background-image: url("../images/pic2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  position: relative;
}

#user_profile #profile #my-img {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  /*border-radius: 50%;
            position: absolute;
            top:57%;
            left:39%;
            border: 2px solid white;
            box-sizing: border-box;
            box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);*/
}

#user_profile #profile #my-img img {
  width: inherit;
}

@media screen and (max-width: 650px) {
  #user_profile #profile #my-img {
    left: 20%;
  }
}

#user_profile #name {
  width: 100%;
  height: 50px;
  text-align: center;
  position: relative;
}

#user_profile #name h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
}

#user_profile #name h2 sup {
  color: dimgray;
  cursor: pointer;
}

#user_profile #name #edit {
  width: 300px;
  height: auto;
  background-color: aliceblue;
  position: absolute;
  left: 40%;
  display: none;
  top: 60px;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#user_profile #name #edit form {
  width: 90%;
  padding: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#user_profile #name #edit form #inp {
  width: 90%;
  padding: 7px;
  margin: 5px;
}

#user_profile #name #edit form #btn {
  width: 95%;
  padding: 7px;
  margin: 5px;
  background-color: #4267B2;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#user_profile #name #edit form #btn:hover {
  background-color: #375695;
}

@media screen and (max-width: 650px) {
  #user_profile #name #edit {
    left: 25%;
  }
}

#user_profile #about {
  width: 45%;
  height: 130px;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

#user_profile #about div {
  margin: 5px 5px 5px 0;
}

#user_profile #about div span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
  margin-left: 10px;
}

@media screen and (max-width: 650px) {
  #user_profile #about div span {
    display: block;
    margin-left: 0px;
  }
}
